<ul class="list-group">
<% Village.my.map do |village| 

	screen = Screen::Train.new(village: village.vid)

	units = screen.current_units.select{|k,v| v > 0}.keys
	units = units.concat(screen.complete_units.to_h.select{|k,v| v > 0}.keys).uniq

%>
	<li class="list-group-item" >
		<h5><%= village.name %><h5>
		<%= render_troops_grid(screen.current_units,units) %> <br/>
		<%= render_troops_grid(screen.complete_units,units) %>
	</li>
<% end %>
</ul>