<div class="nav-tabs-custom">
  <ul class="nav nav-tabs pull-right">
    <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true">Comandos</a></li>
    <li class=""><a href="#tab_1-2" data-toggle="tab" aria-expanded="true">Comandos de Saque</a></li>
    <li class=""><a href="#tab_1-3" data-toggle="tab" aria-expanded="false">Comandos de expionagem</a></li>
    <li class=""><a href="#tab_1-4" data-toggle="tab" aria-expanded="false">Ataque chegando</a></li>
    <li class="pull-left header"><i class="fa fa-th"></i> </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1-1">
      <%= render :template => "command/commands.html.erb", :locals => { commands: @commands  } %>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_1-2">
      <%= render :template => "command/pillage.html.erb", :locals => { commands: @pillage_commands } %>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_1-3">
      <%= render :template => "command/spy.html.erb", :locals => { commands: @spy_commands } %>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="tab_1-4">
      <%= render :template => "command/incomming.html.erb", :locals => { commands: @incomings } %>
    </div>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div>