/*
 *= require_self
 */

$font-family-sans-serif: 'Lato', sans-serif;

@import "_bootstrap";

.sidebar {
	background-color: #4D5250;
	color: #FFFFFF;
	a {
		color: #FFFFFF;
		&:hover {
			color: rgb(202,203,203);
		}
	}
}