@import "compass/css3/transition";

$off_canvas_size: 200px;

body {
  padding-top: 51px;
}

body {
    font-family: Verdana, Arial;
    overflow-x: none;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    @include transition(all,0.5s,ease);
}

#wrapper.toggled {
    padding-left: $off_canvas_size;
}

.navbar-brand {
    font-weight: 700;
    text-decoration: none;
    color: white !important;
}

#sidebar-wrapper {
    a { 
        font-weight: 700;
        text-decoration: none;
        color: #603000;
        &:hover {
            color: #e01f0f;
        }
    }
    z-index: 1000;
    position: fixed;
    left: $off_canvas_size;
    width: 0;
    height: 100%;
    margin-left: -$off_canvas_size;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background-image: image-url("border-right"),image-url("noise");
    background-position:  right -5px top,center bottom;
    background-repeat: repeat-y,repeat;
}

.navbar {
    background-image: image-url("top-leather");
}

#wrapper.toggled #sidebar-wrapper {
    width: $off_canvas_size;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$off_canvas_size;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: $off_canvas_size;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: $off_canvas_size;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper, .navbar-brand {
        width: $off_canvas_size;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar-toggle{
  float: left !important;
  margin-right: 0px !important; 
  margin-left: 15px !important;
}